name: Node CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'
    - name: npm install, build, and test
      run: |
        yarn
        yarn test
        yarn export
      env:
        CI: true
        TZ: 'Asia/Tokyo'
